{% extends "homepage/wrapper.html" %}

{% load static %}

{% block content %}

<div class="container text-center" style="font-family: sans-serif;">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">You've <strong>successfully</strong> bought <strong>{{ shoes.name }} {{ shoes.model }} - size {{ size }}</strong>.</p>
  <hr>
  <p>
    Having trouble? <a href="{% url 'contact:contacts' %}">Contact us!</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="{% url 'mainShop:menu' %}" role="button">Continue to catalog</a>
  </p>
</div>

{% endblock content %}