{% extends "homepage/wrapper.html" %}

{% load static %}


{% block content %}
<hr>
<div class="container border border-info" style="width: auto;" style="font-family: sans-serif;">
    <br>
    <h1 class="font-weight-light text-black d-flex justify-content-center">Все поля обязательны</h1>

 	<div class="d-flex justify-content-center" style="width: auto; padding-left: 5%; padding-right: 5%;">
		<form method="post">

		    {% csrf_token %}

		    <div class="form-group">
		    	{% if form.name.errors %}
	  				<span class="text-danger">{{ form.name.errors }} Вы неправильно заполнили это поле.</span>
	  			{% endif %}
			    <input type="text" name="name" class="form-control" id="id_sender" placeholder="Имя..." required>
			    <small id="nameHelp" class="form-text text-muted">Ваше полное имя</small>
	  		</div>

	  		<div class="form-group">
	  			{% if form.surname.errors %}
	  				<span class="text-danger">{{ form.surname.errors }} Вы неправильно заполнили это поле.</span>
	  			{% endif %}
			    <input type="text" name="surname" class="form-control" id="id_sender" placeholder="Фамилия..." required>
			    <small id="surnameHelp" class="form-text text-muted">Ваша фамилия</small>
	  		</div>

	  		<div class="form-group">
	  			{% if form.size.errors %}
	  				<span class="text-danger">{{ form.size.errors }} Вы неправильно заполнили это поле.</span>
	  			{% endif %}
			    <input type="text" name="size" class="form-control" id="id_sender" placeholder="Размер..." required>
			    {% if size_list %}
			    	<small id="sizeHelp" class="form-text text-muted">Размеры в наличии: {% for item in size_list %} <b> {{ item.model_size }}; </b> {% endfor %}</small>
			    {% endif %}
	  		</div>

	  		<div class="form-group">
	  			{% if form.phone.errors %}
	  				<span class="text-danger">{{ form.phone.errors }} Вы неправильно заполнили это поле.</span>
	  			{% endif %}
				<div class="input-group-prepend">
		        	<div class="input-group-text">+38</div>
			    	<input type="text" name="phone" class="form-control" id="id_sender" placeholder="Номер телефона..." required>
			    </div>
			    <small id="phoneHelp" class="form-text text-muted">Вид: 0********* (10 цифр)</small>
	  		</div>

	  		<div class="form-group">
	  			{% if form.address.errors %}
	  				<span class="text-danger">{{ form.address.errors }} Вы неправильно заполнили это поле.</span>
	  			{% endif %}
			    <input type="text" name="address" class="form-control" id="id_sender" placeholder="Адрес" required>
			    <small id="addressHelp" class="form-text text-muted">Адрес для доставки заказа</small>
	  		</div>

		    <div class="form-group">
		    	{% if form.from_email.errors %}
	  				<span class="text-danger">{{ form.from_email.errors }} Вы неправильно заполнили это поле.</span>
	  			{% endif %}
			    <input type="text" name="from_email" class="form-control" id="id_sender" placeholder="Email" required>
			    <small id="emailHelp" class="form-text text-muted">В целях конфиденциальности мы никому не сообщим ваш e-mail</small>
	  		</div>

		    <div class="form-actions d-flex justify-content-center">
		      <input class="btn btn-primary bg-info text-white" type="submit" value="Отправить">
		    </div>
		    <br>

		    {% if error %}
				<span class="text-center text-danger" style="font-size: 28px;"><strong> {{error}} </span></p>
			{% endif %}
		</form>
	</div>
</div>

{% endblock content %}