{% extends "homepage/wrapper.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/member.css' %}">

{% block content %}

<center>

	<div class="container">
    	<h1 class="font-weight-light text-black">Contact us!</h1>
 	</div>

 	<div class="container" style="text-align: center;">
		<form method="post">
		    {% csrf_token %}

			<div class="form-group row d-flex justify-content-center">
			    <div class="col-sm-8">
			      <input name="from_email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
			      <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else</small>
			    </div>
			</div>


	  		<div class="form-group row d-flex justify-content-center">
	  			<div class="col-sm-8">
			      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
			    </div>
	  		</div>
	  		
	  		<div class="form-group d-flex justify-content-center">
	  			<div class="col-sm-8">
				    <textarea name="message" class="form-control" id="message" rows="8" placeholder="Message..."></textarea>
				</div>	
	  		</div>


		    <div class="form-actions d-flex justify-content-center">
		      <button class="btn btn-primary bg-info text-white" type="submit">Send</button>
		    </div>

		</form>
	</div>

</center>
	
{% endblock content %}

{% block carousele %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('/static/homepage/images/b1.png');">
    </div>
    <div class="carousel-item" style="background-image: url('/static/homepage/images/b2.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/static/homepage/images/b3.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/static/homepage/images/b4.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/static/homepage/images/b5.jpg')">
    </div>
    <div class="carousel-item" style="background-image: url('/static/homepage/images/b6.jpg')">
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock carousele %}