<head>
    {% load static %}

    {% include 'scripts.html' %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Kicks Industry - интернет-магазин обуви</title>
        <meta name="title" content="Kicks Industry - интернет-магазин обуви">
        <meta property=”og:title” content="Kicks Industry - интернет-магазин обуви"/>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if description %}
        <meta name="description" content="{{ description }}">
        <meta property=”og:description” content="{{ description }}" />
    {% else %}
        <meta name="description" content="Купить кроссовки Ужгород - лучшая цена - оригинальная обувь - доставка по Украине. В наличии: Adidas, Nike, New Balance, Reebok, Puma, Saucony, Native.">
    {% endif %}

    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% else %}
        <meta name="keywords" content="Adidas, Nike, Puma, New Balance, Reebok, Украина, купить кроссовки, купить обувь, Адидас, Найк, Рибок">
    {% endif %}

    <meta property=”og:type” content="Магазин"/>
    <meta property=”og:URL” content="https://kicksindustry.com.ua"/>
    <meta property=”og:image” content="{% static 'homepage/images/logo.png' %}"/>
    <meta property=”og:site_name” content="Kicks Industry" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'homepage/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/images/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/wrapper.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/welcome_text.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>