<!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Product",
  "name" : "Tubular Shadow",
  "image" : "https://kicksindustry.com.ua/media/shoes/1_G2lVL30.jpg",
  "description" : "В наличии",
  "brand" : {
    "@type" : "Brand",
    "name" : "Adidas"
  },
  "offers" : {
    "@type" : "Offer",
    "price" : "1600.0",
    "availability" : "http://schema.org/InStock",
    "priceCurrency" : "UAH",
    "url" : "https://kicksindustry.com.ua/menu/tubular_shadow/"
  }
}
</script>