<!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Kicks Industry",
  "image" : "https://kicksindustry.com.ua/static/homepage/images/logo.png",
  "telephone" : "+380997436885",
  "email" : "kicksindustry@gmail.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "ул. Льва Толстого, 5, 1-ый этаж",
    "addressLocality" : "г. Ужгород",
    "addressCountry" : "Украина"
  },
  "openingHours":["Пн-Вс 10:00-20:00"],
  "url" : "https://kicksindustry.com.ua/"
}
</script>