<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Only Hipsters</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/welcome_text.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="jumbotron jumbotron-fluid">
          <nav class="navbar navbar-expand-lg navbar-light bg-light static-top" style="font-size: 19px; font-weight: bold;">
            <div class="container">
              <a class="navbar-brand ml-4" href="{% url 'homepage:index' %}">
                    <img src="{% static 'homepage/images/logo.png' %}" alt="" style="height: 75px; width: 150px; margin-left: 50%;">
                  </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav nav-pills mx-auto ">
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'homepage:index' %}">Homepage</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'mainShop:menu' %}">Catalogue</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact:members' %}">Team members</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'contact:contacts' %}">Contacts</a>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
          </nav>      
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('/static/homepage/images/b1.png')">
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/static/homepage/images/b2.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('/static/homepage/images/b3.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('/static/homepage/images/b4.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('/static/homepage/images/b5.jpg')">
                </div>
                <div class="carousel-item" style="background-image: url('/static/homepage/images/b6.jpg')">
                </div>
            </div>
      </div>

      <div class="container">
          {% block content %}
          {% endblock %}    
      </div>
      
      <hr>
      <!-- Footer -->
      <footer class="page-footer font-small stylish-color-dark pt-4 jumbotron jumbotron-fluid">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
              <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
              consectetur
              adipisicing elit. Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
              consectetur
              adipisicing elit. Here you can use rows.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
          <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Kicks Industry</h5>

              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="{% url 'homepage:index' %}">Главная</a></li>
                  <li class="list-group-item"><a href="{% url 'mainShop:menu' %}">Каталог</a></li>
                  <li class="list-group-item"><a href="{% url 'contact:contacts' %}">Контакты</a></li>
                  <li class="list-group-item"><a href="{% url 'contact:members' %}">Персонал</a></li>
                  <!--<li class="list-group-item"><a href="#">Геолокация</a></li>-->
              </ul>
          </div>

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="{% url 'homepage:index' %}"> kicksindustry.com </a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
          <script src="{% static 'js/banner.js' %}"></script>
  </body>
</html>