<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Kicks Industry</title>
      {% load static %}

      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'homepage/images/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/images/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/images/favicon-16x16.png' %}">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">

      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/welcome_text.css' %}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script src="{% static 'js/banner.js' %}"></script>
        <!-- Google Analytics -->
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-116385462-1', 'auto');
        ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="font-size: 18px; font-weight: bold;">
      <div class="container">
        <a class="navbar-brand ml-4" href="{% url 'homepage:index' %}">
          <img src="{% static 'homepage/images/logo.png' %}" alt="" style="height: 50px; width: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive" style="font-family: sans-serif;">
          <ul class="nav nav-pills justify-content-around">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'homepage:index' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mainShop:men' %}">Мужская обувь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'mainShop:women' %}">Женская обувь</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact:contacts' %}">Обратная связь</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block carousele %}
    {% endblock%}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <hr>

    <div class="container text-center rounded" style="background: linear-gradient(90deg, rgba(20,15,108,1) 12%, rgba(0,0,187,1) 43%, rgba(0,212,255,0.76234243697479) 71%);">
        <a href="{% url 'homepage:mailing' %}"><button type="button" class="btn btn-light mt-2 mb-2" style="font-size: 18px; color: #005cbf;">Подпишись на рассылку!</button></a>
    </div>

    <hr>
      <!-- Footer -->
    <footer class="page-footer font-small" style="font-family: sans-serif;">

      <!-- Footer Links -->
      <div class="container">

        <!-- Grid row -->
        <div class="row justify-content-between">
          <!-- Grid column -->

          <div class="col-md-4">
            <!-- Content -->
            <h4 class="font-weight-bold text-uppercase mt-2 mb-3" style="font-style: italic;">Kicks Industry</h4>
            <p class="text-justify">Можете быть уверены в качестве и оригинальности наших кроссовок.
            Мы всегда рады помочь клиенту подобрать пару, которая будет идеально сидеть на ноге и дополнять образ.
            С каждой покупкой вы получите скидочную карту на следующую покупку!</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
              <!-- Links -->
              <div class="d-flex justify-content-center">
                <img src="{% static 'homepage/images/logo.png' %}" class="img img-fluid" alt="" style="width: 80px; height: 40px; margin-bottom: 5px;">
              </div>

              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="{% url 'homepage:index' %}">Главная</a></li>
                <li class="list-group-item"><a href="{% url 'mainShop:men' %}">Мужская обувь</a></li>
                <li class="list-group-item"><a href="{% url 'mainShop:women' %}">Женская обувь</a></li>
                <li class="list-group-item"><a href="{% url 'contact:contacts' %}">Обратная связь</a></li>
              </ul>
          </div>

        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="{% url 'homepage:index' %}"> kicksindustry.com </a>
      </div>
      <!-- Copyright -->

    </footer>
      <!-- Footer -->

  </body>
</html>