{% extends "wrapper.html" %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "mainShop/css/shoes.css" %}">


{% block content %}
    <!-- Разметка JSON-LD, созданная Мастером разметки структурированных данных Google. -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Product",
      "name" : "{{ shoes.model }}",
      "image" : "{{ shoes.image.url }}",
      "description" : "{{ shoes.description }}",
      "sku" : "{{ shoes.articul }}",
      "brand" : {
        "@type" : "Brand",
        "name" : "{{ shoes.category.name }}"
      },
      "offers" : {
        "@type" : "Offer",
        "price" : "{{ shoes.price }}",
        "availability" : "http://schema.org/InStock",
        "priceCurrency" : "UAH",
        "url" : "{{ shoes.get_absolute_url }}"
      }
    }
    </script>

	<div class="card shadow-lg" style="margin-top: 10px; font-family: sans-serif;">
		<div class="container">
			<div class="row justify-content-md-center">
			    {% for img in images %}
			  	    <div class="col col-md-2">
                        
						<a data-toggle="modal" data-target="#image{{ forloop.counter }}">
						  	<img class="img-fluid card-img-top rounded mx-auto d-block img-circle zoom" src="{{ img.image.url }}" alt="{{ shoes.category.name }} {{ shoes.model }}" style="margin-top: 10px;">
						</a>

						<!-- Modal -->
						<div class="modal fade" id="image{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						  <div class="modal-dialog modal-lg" role="document">
						    <div class="modal-content">
						      <div class="modal-body">

    					      	<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
					                <span aria-hidden="true">&times;</span>
					            </button>
					      	    <p style="text-align: center;" id="exampleModalLongTitle">{{ shoes.category.name }} {{ shoes.model }}</p>

						        <img class="img-fluid card-img-top rounded d-block" src="{{ img.image.url }}" alt="{{ shoes.category.name }} {{ shoes.model }}">
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
						      </div>
						    </div>
						  </div>
						</div>
						<!-- End modal -->
					</div>
		    	{% endfor %}

				<div class="container d-flex justify-content-center">
					<a class="btn btn-link" data-toggle="modal" data-target="#core-image-zoom">
					  	<img class="img-fluid card-img-top rounded mx-auto d-block img-circle zoom border border-left-0 border-right-0" src="{{ shoes.image.url }}" alt="{{ shoes.category.name }} {{ shoes.model }} {% for item in shoes.modelsizelist.shoessize_set.all %} {{ item.model_size }} {% endfor %}" style="width: 400px; margin-top: 10px;">
					</a>

					<!-- Modal -->
					<div class="modal fade" id="core-image-zoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					  <div class="modal-dialog modal-lg" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <p class="modal-title" id="exampleModalLongTitle">{{ shoes.category.name }} {{ shoes.model }}</p>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <img class="img-fluid card-img-top rounded d-block" src="{{ shoes.image.url }}" alt="{{ shoes.category.name }} {{ shoes.model }}">
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- End modal -->
				</div>
			</div>
		</div>

	  <div class="card-body text-center mx-auto">
		<h1 class="card-title text-dark" style="font-size: 20px;">{{ shoes.category.name }} {{ shoes.model }}</h1>
		<h2 class="card-title text-dark" style="font-size: 17px;">Артикул: {{ shoes.articul }}</h2>

		<p class="card-text">
            {% if shoes.is_active == True %}
                <div class="d-flex justify-content-center">
                    <p style="margin-top: 10px;"><span class="alert alert-success text-dark"><b>В наличии</b></span></p>
                </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <p style="margin-top: 10px;"><span class="alert alert-danger text-dark"><b>Нет в наличии</b></span></p>
                </div>
            {% endif %}
        </p>


        <div class="form-group d-flex justify-content-center mb-1">
            <div class="btn-group" role="group" aria-label="Размеры" id="size">
                <p class="card-text">
                    <label class="mt-2" for="size"><b>Размеры:</b></label>
                    {% for size in sizes %}
                        <button type="button" class="btn btn-outline-dark mb-1 rounded">{{ size.model_size }}</button>
                    {% endfor %}
                </p>
            </div>
         </div>

        <div class="container">
            <p class="card-text text-justify">{{ shoes.description }}</p>
        </div>

        <div id="accordion">
		  <div class="card">
		    <div class="card-header" id="headingOne">
		      <h3 class="mb-0">
		        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: black;">
		          <b>Как подобрать размер?</b>
		        </button>
		      </h3>
		    </div>

		    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		      <div class="card-body">
		        <a class="btn btn-link" data-toggle="modal" data-target="#size-table-zoom">
				  	<img class="img-fluid rounded mx-auto d-block" src="{{ size_table.url }}" alt="{{ shoes.category.name }} {{ shoes.model }} size table" style="margin-top: 10px;">
				</a>

				<!-- Modal -->
				<div class="modal fade" id="size-table-zoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-body">

				      	<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      	<p style="text-align: center;" id="exampleModalLongTitle">{{ shoes.category.name }} {{ shoes.model }}</p>

				        <img class="img-fluid card-img-top rounded d-block" src="{{ size_table.url }}" alt="{{ shoes.category.name }} {{ shoes.model }}">
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- End modal -->
		      </div>
		    </div>
		  </div>


          <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h4 class="mb-0">
		        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: black;">
		          <b>Условия возврата</b>
		        </button>
		      </h4>
		    </div>

		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
		      <div class="card-body">
		        <p class="card-text">Возврат товара в течении 14 дней за счет покупателя.</p>

		        <!-- Button trigger modal -->
				<button type="button" class="btn btn-info bg-info text-white" data-toggle="modal" data-target="#exampleModalCenter" style="color: black;">
				  <span>Подробнее</span>
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h4 class="modal-title" id="exampleModalLongTitle">Условия возврата и обмена</h4>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <h4>Условия возврата и обмена</h4>
				      	<p class="modal-body">Компания осуществляет возврат и обмен этого товара в соответствии с требованиями законодательства.</p>
				      	<h4>Сроки возврата</h4>
				      	<div style="text-align: left;">
							Возврат возможен в течении 14 дней после получения (для товаров надлежащего качества).
							<br><br>
							Обратная доставка товаров осуществляется за счет покупателя.
							<br><br>
							Согласно действующему законодательству вы можете вернуть товар надлежащего качества или обменять его, если:
							<br>
							<ul>
								<li>товар не был в употреблении и не имеет следов использования потребителем: царапин, потёртостей, пятен и т. п.;</li>
								<li>товар полностью укомплектован и сохранена фабричная упаковка;</li>
								<li>сохранены все ярлыки и заводская маркировка;</li>
								<li>товар сохраняет товарный вид и свои потребительские свойства.</li>
							</ul>
						</div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- End modal -->
		      </div>
		    </div>
		   </div>
		  </div>
		</div>

	    <div class="card-footer" style="margin: auto;">

	    	{% if shoes.discount == True %}
		    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
		    		<p><span class="alert alert-danger text-dark" style="font-size: 18px; font-style: italic;"><s><b>Цена:</b> {{ shoes.price }} &#8372;</s> </span></p>
		    	</div>
		    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
		    		<p><span class="alert alert-success text-dark" style="font-size: 18px; font-style: italic;"><b>Новая цена:</b> {{ shoes.price_after_discount }} &#8372;</span></p>
		    	</div>
		    {% else %}
		    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
		    		<p><span class="alert alert-success text-dark" style="font-size: 18px; font-style: italic;"><b>Цена:</b> {{ shoes.price }} &#8372;</span></p>
		    	</div>
	    	{% endif %}

	    	<div class="d-flex justify-content-center" style="margin-top: 10px;">
                <a href="{% url 'userOrder:order' shoes.id %}" class="btn btn-success">Оформить</a>
	    	</div>
	    </div>

{% endblock content %}
