{% extends "homepage/wrapper.html" %}

{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static "mainShop/detail.css" %}">

{% block content %}

{% if error_message %}
	<div style="text-align: center;"><strong> {{ error_message }} </strong></div>
{% endif %}

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <form method="GET">
                <div class="form-group mt-1">
                    {{ filter.form.model|as_crispy_field }}
                </div>
            </form>
        </div>
    </div>

<!-- Button trigger modal -->
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <button type="button" class="btn btn-outline-primary font-weight-bold mb-2" data-toggle="modal" data-target="#exampleModalCenter">
            Фильтры
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Фильтры</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="GET">
                                <div class="form-group">
                                    {{ filter.form.model|as_crispy_field }}
                                    {{ filter.form.price__gt|as_crispy_field }}
                                    {{ filter.form.price__lt|as_crispy_field }}
                                    {{ filter.form.ordering|as_crispy_field }}
{#                                    {{ filter.form|crispy }}#}
                                    <div class="row justify-content-center align-items-center">
                                        <button type="submit" class="btn btn-secondary btn-sm">Применить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% if object_list %}
	<div class="container" style="font-family: sans-serif;">
		<div class="row">
			{% for shoes in object_list %}
				<div class="card col-md-3 mx-auto shadow-lg" style="width: 16rem; height: auto; margin-top: 10px;">
				     <div class="container h-100" style="height: 200px; width: 200px;">
                         <div class="row h-100 justify-content-center align-items-center">
                             <a href="{% url 'mainShop:shoes' shoes.slug %}"><img class="img-fluid card-img-top rounded mx-auto d-block mt-1" src="{{ shoes.image.url }}" alt="Card image cap" style="width: 200px;"></a>
                         </div>
                     </div>

				  <div class="card-body">
				    <div class="container" style="height: 40px;">
                        <h6 class="card-title mb-3" style="text-align: center; margin: auto;"><b>{{ shoes.category.name }} {{ shoes.model }}</b></h6>
                    </div>

				    {% if shoes.is_active == True %}
					    <p class="card-text text-center"><span class="text-success"><b>В наличии</b></span></p>
			    	{% else %}
					    <p class="card-text text-center"><span class="text-danger"><b>Нет в наличии</b></span></p>
			    	{% endif %}

					{% if shoes.discount == True %}
				    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
				    		<p><span class="alert alert-danger text-dark" style="font-style: italic;"><s><b>Цена:</b> {{ shoes.price }} грн.</s> </span></p>
				    	</div>
				    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
				    		<p><span class="alert alert-success text-dark" style="font-style: italic;"><b>Цена:</b> {{ shoes.price_after_discount }} грн.</span></p>
				    	</div>
				    {% else %}
				    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
				    		<p><span class="alert alert-success text-dark" style="font-style: italic;"><b>Цена:</b> {{ shoes.price }} грн.</span></p>
				    	</div>
			    	{% endif %}

                    <div class="card-footer d-flex justify-content-bottom">
    				    <div class="mx-auto">
    				    	<a href="{% url 'mainShop:shoes' shoes.slug %}" class="btn btn-primary">Перейти</a>
    				    </div>
				    </div>
				  </div>
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<div class="container justify-content-center">
		<div class="row">
			<div class="card mx-auto">
				<div class="card-body mt-2 mb-2">
					<h2 class="card-title">Нет результатов.</h2>
					<p class="card-text">Нет результатов поиска подходящих вашему запросу.</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<br>
<div class="container d-flex justify-content-center" style="font-family: sans-serif;">
	<nav class="w-75 d-flex justify-content-center">
	  <ul class="pagination pagination-sm">

	    {% if page_obj.has_previous %}
	      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
	    {% else %}
	      <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
	    {% endif %}

	    {% for i in page_obj.paginator.page_range %}
	      {% if page_obj.number == i %}
	        <li class="page-item disabled"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
	      {% else %}
	        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}

	    {% if page_obj.has_next %}
	      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
	    {% else %}
	      <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
	    {% endif %}
	  </ul>
	</nav>
</div>
{% endblock content %}