{% extends "homepage/wrapper.html" %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "mainShop/detail.css" %}">

{% block content %}

{% if error_message %}
	<center><strong> {{ error_message }} </strong></center>
{% endif %}

<div class="container justify-content-center mt-3" style="width: 20rem;">
	<div class="search-bar mt-2 mb-2">
		<form method="get">
			<input type="text" class="form-control" name="q" id="id_q" placeholder="Search...">
		</form>
	</div>
</div>

{% if category %}
	<div class="container" style="font-family: sans-serif;">
		<div class="row">
			{% for shoes in category %}
				<div class="card col-md-4 mx-auto shadow" style="width: 16rem; height: auto; margin-top: 10px;">
				  <a href="{% url 'mainShop:shoes' shoes.slug %}"><img class="img-fluid card-img-top rounded mx-auto d-block" src="{{ shoes.image.url }}" alt="Card image cap" style="width: 250px; margin-top: 10px;"></a>
				  <div class="card-body">
				    <h5 class="card-title mb-3" style="text-align: center; margin: auto;">{{ shoes.name }} {{ shoes.model }}</h5>
				    <p class="card-text text-left">{{ shoes.description }}</p>

					{% if shoes.discount == True %}
				    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
				    		<p><span class="alert alert-danger text-dark" style="font-style: italic;"><s><b>Цена:</b> {{ shoes.price }}</s> </span></p>
				    	</div>
				    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
				    		<p><span class="alert alert-success text-dark" style="font-style: italic;"><bЦена:</b> {{ shoes.price_after_discount }}</span></p>
				    	</div>	
				    {% else %}
				    	<div class="d-flex justify-content-center" style="margin-top: 15px;">
				    		<p><span class="alert alert-success text-dark" style="font-style: italic;"><b>Цена:</b> {{ shoes.price }}</span></p>
				    	</div>
			    	{% endif %}

			    	<div class="container justify-content-bottom">
					    <div class="d-flex justify-content-center">
					    	<a href="{% url 'mainShop:shoes' shoes.slug %}" class="btn btn-primary">Перейти</a>
					    </div>
				    </div>

				  </div>
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<div class="container justify-content-center">
		<div class="row">
			<div class="card mx-auto">
				<div class="card-body mt-2 mb-2">
					<h2 class="card-title">No results.</h2>
					<p class="card-text">There were no results matching your search: "{{query}}".</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}

<br>
<div class="container d-flex justify-content-center" style="font-family: sans-serif;">
	  <ul class="pagination">
	  	
	    {% if category.has_previous %}
	      <li><a href="?page={{ category.previous_page_number }}" class="btn btn-primary">&laquo;</a></li>
	    {% else %}
	      <li class="disabled btn btn-primary"><span>&laquo;</span></li>
	    {% endif %}

	    {% for i in category.paginator.page_range %}
	      {% if category.number == i %}
	        <li class="active"><span class="btn btn-success">{{ i }} <span class="sr-only">(current)</span></span></li>
	      {% else %}
	        <li><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}

	    {% if category.has_next %}
	      <li><a href="?page={{ category.next_page_number }}" class="btn btn-primary">&raquo;</a></li>
	    {% else %}
	      <li class="disabled btn btn-primary"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
</div>
{% endblock content %}


<script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}";
</script>
