{% extends "homepage/wrapper.html" %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "mainShop/detail.css" %}">

{% block content %}

{% if error_message %}
	<center><strong> {{ error_message }} </strong></center>
{% endif %}

<div class="container">
	<table class="table" id="row" style="margin-top: 60px;">
		<thead class="thead-dark">
			<tr>
				<th>Photo</th>
				<th>Name</th>
		        <th>Model</th>
		        <th>Size</th>
		        <th>Description</th>
		    </tr>

			{% for shoes in category.shoes_set.all %}		    
		    	<tbody>
			      <tr>
			      	<td><a href="{% url 'mainShop:shoes' shoes.slug %}"><img src="{{ shoes.image.url }}" alt="{{ shoes.model }}" height="100" width="128"></td></a>
			        <td>{{shoes.name}}</td>
			        <td>{{shoes.model}}</td>
			        <td>{{shoes.size}}</td>
			        <td>{{shoes.description}}</td>
			      </tr>
			    </tbody>
			{% endfor %}
		</thead>
	</table>
</div>
{% endblock content %}