{% extends "homepage/wrapper.html" %}

{% load static %}
<script type="application/ld+json">
    {
      "@context": "https://kicksindustry.com.ua/menu/men/",
      "@type": "Catalogue",
      "name": "Catalogue of sneakers for women",
      "author": {
        "@type": "Person",
        "name": "Kicks Industry"
      },
      "address": {
        "@type": "PostalAddress",
        "addressCountry": "Ukraine",
        "addressRegion": "Transcarpathia",
        "telephone": "+380957436885"
      },
      "datePublished": "2020-08-03",
      "description": "Here you can find gorgeous sneakers for women to wear, train or run.",
    }
</script>

{% block content %}

{% if female_list %}
	<div class="row" style="font-family: sans-serif;">
		{% for pos in female_list %}
		    {% if pos.shoes_set.count > 0 %}
        		<div class="card mx-auto d-flex justify-content-center shadow-lg" style="margin-top: 25px; width: 16rem;">
        		  <a href="{% url 'mainShop:detail' pos.slug %}">
        		  	<img class="card-img-top img-fluid rounded mx-auto d-block" src="{{ pos.image.url }}" alt="{{ pos.name }}" style="width: 240px; height: 180px;">
        		  </a>
        		  <div class="card-body">
        		    {% if pos.sex == 'women' %}
        	  		    <h5 class="card-title mb-3 mx-auto text-center"><a class="text-dark" href="{% url 'mainShop:detail' pos.id %}" style="font-size: 18px;">{{ pos.name }}</a> <span class="badge badge-success">{{ pos.shoes_set.count }}</span></h5>
        	  	    {% endif %}
        		    <div class="card-footer d-flex justify-content-center">
        			    <a href="{% url 'mainShop:detail' pos.slug %}" class="btn btn-primary bg-info text-white">Перейти</a>
        		    </div>
        		  </div>
        		</div>
		    {% endif %}
		{% endfor %}
	</div>
{% else %}
    <div class="container justify-content-center">
        <div class="row">
            <div class="card mx-auto">
                <div class="card-body mt-2 mb-2">
                    <h2 class="card-title">Нет результатов.</h2>
                    <p class="card-text">Тут пока пусто:(</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{#	<!--<br>-->#}
{#	<!--<div class="container d-flex justify-content-center" style="font-family: sans-serif;">-->#}
{#	<!--	  <ul class="pagination">-->#}
{##}
{#	<!--	    {% if page_obj.has_previous %}-->#}
{#	<!--	      <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">&laquo;</a></li>-->#}
{#	<!--	    {% else %}-->#}
{#	<!--	      <li class="disabled btn btn-primary"><span>&laquo;</span></li>-->#}
{#	<!--	    {% endif %}-->#}
{##}
{#	<!--	    {% for i in paginator.page_range %}-->#}
{#	<!--	      {% if page_obj.number == i %}-->#}
{#	<!--	        <li class="active"><span class="btn btn-success">{{ i }} <span class="sr-only">(current)</span></span></li>-->#}
{#	<!--	      {% else %}-->#}
{#	<!--	        <li><a href="?page={{ i }}" class="btn btn-primary">{{ i }}</a></li>-->#}
{#	<!--	      {% endif %}-->#}
{#	<!--	    {% endfor %}-->#}
{##}
{#	<!--	    {% if page_obj.has_next %}-->#}
{#	<!--	      <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">&raquo;</a></li>-->#}
{#	<!--	    {% else %}-->#}
{#	<!--	      <li class="disabled btn btn-primary"><span>&raquo;</span></li>-->#}
{#	<!--	    {% endif %}-->#}
{#	<!--	  </ul>-->#}
{#	<!--</div>-->#}

{% endblock %}