{% extends 'homepage/wrapper.html' %}

{% load static %}

{% block content %}
    <div class="container text-center">
        <h4>Возврат и обмен</h4>
    </div>
    <div class="container mt-3">
        <span>Магазин осуществляет возврат и обмен товаров надлежащего качества согласно Закону <a href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">«О защите прав потребителей»</a>.</span>
        <h5 class="mt-3 mb-3 text-center font-italic">Cроки возврата и обмена</h5>
        <p class="mt-0 mb-1">Возврат и обмен товаров возможен в течение <strong>14 дней</strong> после получения товара покупателем.</p>
        <p><strong>Обратная доставка товаров</strong> осуществляется за счет покупателя.</p>
    </div>
    <div class="container mt-3">
        <h5 class="mt-3 mb-3 text-center font-italic">Условия возврата для товаров надлежащего качества</h5>
        <p class="mt-0 mb-1">Вы можете вернуть товар или обменять его, если:</p>
        <ul>
            <li>товар не был в употреблении и не имеет следов использования потребителем: царапин, потёртостей, пятен и т. п.;</li>
            <li>товар полностью укомплектован и сохранена фабричная упаковка;</li>
            <li>сохранены все ярлыки и заводская маркировка;</li>
            <li>товар сохраняет товарный вид и свои потребительские свойства.</li>
        </ul>
        <span class="mt-0">Согласно Закону <a href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">«О защите прав потребителей»</a>, компания может отказать потребителю в обмене и возврате товаров надлежащего качества, если они относятся к категориям, указанным в действующем <a
                href="https://zakon.rada.gov.ua/laws/show/172-94-п#Text">Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату и обмену</a>.</span>
    </div>
    <div class="container-fluid text-center">
        <img src="{% static 'mainShop/images/return-policy.jpg' %}" alt="return-and-exchange-policy">
    </div>
{% endblock %}

